# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest cache
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/

# VS Code
.vscode/

# Claude Cache
.claude/

# OS cache
.DS_Store
